html, body {
    padding: 0px;
    margin: 0px;
}
.navbar {
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: rgb(100, 100, 216);
    padding: 5px;
}
#loginContainer {
    background-color: rgb(235, 210, 210);
    border-radius: .25rem;
    text-align: center;
    margin: 75px auto auto auto;
    width: 500px;
    height: 500px;
    padding-top: 50px;
}