.card 
{
    display: block;
    text-align: center !important;
    background-color: #bdeac8;
            
    color: #2a5828;
    border-radius: 24px;  
    margin-bottom: 10px;
    width: 300px; 
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.card img 
{
    max-width: 100%; 
}

body 
{
    background: repeating-linear-gradient(90deg, #bdeac8, #bdeac8 20px, #ffffff 20px, #ffffff 40px);
}

header 
{
    background-color: #bdeac8; 
    color: #fff;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-bottom: 0.9px solid #2a5828;
}

.header-content 
{
    display: flex;
    align-items: center;
}


.navTitleHome
{
    font-size: 45px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #2a5828;
    margin-right: 15px;
}

.auth-links
{
    margin-left: auto;
}

.auth-links a 
{
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: rgb(66, 107, 41);
    margin-right: 10px;
    font-size: 25px;
}