.navbar 
{
    display: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #2a5828 !important;
}
.username-display 
{
    text-align: center;
    color: white;
}

.navbar .navTitleHome 
{
    margin-right: 15px; /* Adjust as needed */
}
.username-display
{
    font-size: 45px;
    font-family: 'Pacifico', cursive;
    color: white;
}
body 
{
    background-color: #bdeac8 !important; /* or any shade of grey you prefer */
}



.auth-links
{
    margin-left: auto;
}
.auth-links a 
{
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: rgb(66, 107, 41);
    margin-right: 10px;
    font-size: 25px;
}

header {
    background-color: #bdeac8; 
    color: #fff;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    display: flex;
    border-bottom: 0.9px solid #2a5828;
}

.header-content 
{
    display: flex;
    align-items: center;
}


.navTitleHome{
    font-size: 45px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    color: #2a5828;
    margin-right: 15px;
}









