#loginContainer 
{
    display: block;
    background-color: #bdeac8;
    color: #2a5828;
    border-radius: 24px;
    text-align: center;
    margin: 75px auto auto auto;
    width: 325px;
    height: 500px;
    padding-top: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.loginInput 
{
    width: 200px;
    height: 25px;
    border: 1px solid black;
    border-radius: .25rem;
}
.loginPageBtn 
{
    background-color: rgb(66, 107, 41);
    color: white;
    font-weight: bold;
    width: 75px;
    height: 30px;
    border-radius: .25rem;
    border: none;
    box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.473);
}
.loginPageBtn:hover 
{
    scale: 1.05;
}
.loginPageBtn:active 
{
    scale: 0.95;
}
.headerClass 
{
    margin: 20px;
}
#signUpContainer 
{
    display: none;
    margin: 75px auto auto auto;
    text-align: center;
    padding-top: 25px;
    width: 300px;
    background-color: #bdeac8;
    color: rgb(66, 107, 41);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 24px;
}
#backBtn 
{
    margin-top:20px;
    margin-bottom:10px;
}